=breadcrumb_tag do
  %li.active
    = t('headers.collections.new')
  %li
    = link_to 'Коллекция', collections_path
  %li Новый тур
    

.page-header
  %h1= t('headers.collections.new')

= render 'form'
